.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 2px 6px 0 #00000033;
    background-color: #dff1f6;
    height: 150px;
  }
  .nav-parent {
    display: flex;
    justify-content: start;
    max-width: 250px;
  }
  .nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
    margin-right: 2rem;
  }
  
  .nav-contact {
    display: flex;
    justify-content: end;
    max-width: 300px;
    align-items: center;
  }
  .nav-item {
    list-style-type: none;
    font-size: x-large;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-right: 2rem;
  }
  .nav-item-padding {
    padding: 0 15px 0 0;
  }
  
  .logo {
    display: flex;
    justify-content: center;
    max-width: 1300px;
    width: 80px;
  }
  
  a {
    text-decoration: none;
    color: #173136;
  }

   h1 {
    font-size: 48px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:lighter;
    color: #7b9196;
    padding: 50px;    text-align: center;
  }
  h3 {
      font-size: 36px;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      font-weight: lighter;
      color: #173136;
      margin-top: 10rem;
      margin-left: 5rem;
      margin-bottom: 0.25rem;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.4s;
    border-color: #008fa8;
    border-radius: 15px 50px;
    padding: 2px 50px;
    background-color: #7b9196;
    height: 300px;
    width: 600px;
    margin: 50px;
    justify-content: flex-end;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-5%, -5%);
    color: white;
  }
  
  .card p {
    font-size: large;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    line-height: 32px;
    color: white;
    margin-top: 40px;
  }
  .card .btn-primary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #173136;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 16px 30px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .btn-primary:hover {
    background-color: #dff1f6;
    color: #173136;
  }
  .heroImg img {
    width: 60%;
    margin-top: 70px;
    margin-left: 4rem;
    border-radius: 2rem;
  }
  .photography {
      display: flex;
      justify-content: flex-end;
      align-items: right;
      margin-top: 10rem;
      
  }

  .Photography h3 {
    margin-top: 5rem;
    margin-right: 5rem;
    margin-bottom: 4rem;
   display: flex;
    justify-content: flex-end;
    align-items: right;
    
  }
  
  .Image1 img {
    display: flex;
    justify-content: center;
    width: 60%;
    margin-left: auto;
    margin-right: 4rem;
    border-radius: 2rem;
  }
  
  .photographyCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.4s;
     border-radius: 15px 50px;
    padding: 2px 50px;
    background-color: #7b9196;
    height: 300px;
    width: 600px;
    margin: 50px;
    justify-content: flex-start;
    position: absolute;
    transform: translate(15%, 50%);
    color: white;
  }
  .photographyCard p {
    font-size: large;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    line-height: 32px;
    color: white;
    margin-top: 40px;
    align-content: center;
  }
  .photographyCard .btn-primary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #173136;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 16px 30px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  .photographyCard .btn-primary:hover {
    background-color: #dff1f6;
    color: #173136;
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 6px 0 #00000033;
    background-color: #dff1f6;
    margin-top: 3rem;
  }
  
  .footer-list li {
    font-size: xx-large;
    list-style-type: none;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin: 2rem;
    margin-top: 2rem;
  }
  .socialIcons {
    display: flex;
    flex-direction: column;
    width: 30px;
    margin: 4rem;
    font-size: 30px;
  }
  .fa {
    padding: 20px;
  }


